/* default css */
*{
    padding: 0;
    margin: 0;
}
body{
    max-width: 1600px;
    margin: auto;
    font-family: 'Merriweather', serif;
    color: #fff;
}

/* banner section start */
.banner{
    background: #fff;
}
 .first-banner{
    background-image: url('./img/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding:300px 450px;
    border-radius: 1rem;
    position: relative;
    border-radius: 1rem;
    border-radius: 1rem;


}
.first-banner-wish{
    color: #fff;
     
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    position: absolute;
    top: 112px;
    
    
   
}
.first-banner-title{
    color: #fff;
  box-shadow: #f9eeee;
text-align: center;
font-size: 4.5rem;
font-weight: 900;
width: 39.5rem;
position: absolute;
top: 190px;
left: 323px;
border-radius: 1rem;
background: linear-gradient(65deg, #252328 0%, rgba(7, 2, 17, 0.00) 100%);

}
.discont-info{
    width: 90rem;
    height: auto;
color: #fff;
}

.discount-heading{
 color: #F00;
text-align: center;
font-family: Inter;
font-size: 5.5rem;
font-weight: 700;
padding-top: 108px;
padding-bottom: 20px;
}
.discont-info-holiday-deals{
    color: #F00;

text-align: center;
font-size: 1.5rem;
font-weight: 500;
}
.discont-info-categoris {
    color: #070211;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 20px;
}

.second-banner{
    background-image: url(./img/New\ Year\ Photo.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding:400px;
    margin-top: 50px;
    
}

.third-banner{
    background-image: url(./img/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 130px 300px 500px 200px;
    margin-top: 50px;
    display: flex;  
    position: relative;
}
.third-banner-left{
  position: absolute;
  left: 10px;
  width: 50%;
}
.third-banner-title{
    width: 40.125rem;
    color: #FFF;
    font-size: 4rem;
    font-weight: 900;
    line-height: 5.5rem; 
    letter-spacing: 0.44rem;
    margin: 30px;

}
.third-banner-description{
    width: 43.5625rem;
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.875rem;
    text-align: right;
}

.third-banner-left .join-now{
    border: 1px solid rgb(111, 4, 111);
    padding:10px 30px;
    margin-left: 100px;
    margin-top: 20px;
    font-size: 20px;
    background: rgb(132, 5, 132);
    color: #fff;
    border-radius:10px 0;
}
.third-banner-left .join-now:hover{
    background: rgb(30, 0, 30);
    text-decoration: underline;
    color: #F00;
}

.third-banner-right{
    position: absolute;
    right: 81px;
    top: 161px;
}
.third-banner-right> img {
    display: flex;
width: 19.98938rem;
height: 29.04138rem;
padding: 0.0005rem 0rem 0rem 0rem;
flex-direction: column;
justify-content: center;
align-items: center;
flex-shrink: 0;
}
