/* default css */
*{
    padding: 0;
    margin: 0;
}
body{
    max-width: 1560px;
    margin: auto;
    font-family: 'Merriweather', serif;
    color: #fff;
}

/* common */
.description{
color: rgba(7, 2, 17, 0.60);
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: 2rem; 
}

/* banner section start */
.banner{
    background: #fff;
}
 .first-banner{
    background-image: url('./img/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding:300px 450px;
    border-radius: 1rem;
    position: relative;
    border-radius: 1rem;
    border-radius: 1rem;


}
.first-banner-wish{
    color: #fff;
     
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    position: absolute;
    top: 112px;
    
    
   
}
.first-banner-title{
    color: #fff;
  box-shadow: #f9eeee;
text-align: center;
font-size: 4.5rem;
font-weight: 900;
width: 39.5rem;
position: absolute;
top: 190px;
left: 323px;
border-radius: 1rem;
background: linear-gradient(65deg, #252328 0%, rgba(7, 2, 17, 0.00) 100%);

}
.discont-info{
    width: 90rem;
    height: auto;
color: #fff;
}

.discount-heading{
 color: #F00;
text-align: center;
font-family: Inter;
font-size: 5.5rem;
font-weight: 700;
padding-top: 108px;
padding-bottom: 20px;
}
.discont-info-holiday-deals{
    color: #F00;

text-align: center;
font-size: 1.5rem;
font-weight: 500;
}
.discont-info-categoris {
    color: #070211;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 20px;
}

.second-banner{
    background-image: url(./img/New\ Year\ Photo.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding:400px;
    margin-top: 50px;
    
}

.third-banner{
    background-image: url(./img/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 130px 300px 500px 200px;
    margin-top: 50px;
    display: flex;  
    position: relative;
}
.third-banner-left{
  position: absolute;
  left: 10px;
  width: 50%;
}
.third-banner-title{
    width: 40.125rem;
    color: #FFF;
    font-size: 4rem;
    font-weight: 900;
    line-height: 5.5rem; 
    letter-spacing: 0.44rem;
    margin: 30px;

}
.third-banner-description{
    width: 43.5625rem;
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.875rem;
    text-align: right;
}

 .third-banner-jn{
    border: 1px solid rgb(111, 4, 111);
    padding:10px 30px;
    margin-left: 100px;
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
    border-radius:10px 0;
    display: inline-block;
}
.third-banner-left .join-now:hover{
    background: rgb(30, 0, 30);
    text-decoration: underline;
    color: #F00;
}

.third-banner-right{
    position: absolute;
    right: 81px;
    top: 161px;
}
.third-banner-right> img {
    display: flex;
width: 19.98938rem;
height: 29.04138rem;
padding: 0.0005rem 0rem 0rem 0rem;
flex-direction: column;
justify-content: center;
align-items: center;
flex-shrink: 0;
}

/* main section */
main{}
/* join section */
.join-section{
    background-color: rgba(255, 0, 0, 0.10);;
    padding: 200px 420px 220px 620px;
    border: 2px solid #fdf9f9;
    margin-top: 100px;
}
.annousment{
    color: #070211;
font-family: Inter;
font-size: 2rem;
font-style: normal;
font-weight: 600;
line-height: 3.5rem;
text-transform: capitalize;
}

.annousment span{
    color: red;
}
.join-now{
padding: 1rem 2rem;
border-radius: 1rem 0;
background: #F00;
border:0;
color: #FFF;
font-size: 1.25rem;
font-weight: 700;
margin-top: 30px;
}
.join-now:hover{
    background: rgb(182, 1, 1);
    color: aqua;
    text-decoration: underline;
    transition: .5s;
}
/* offer section start */
.containner{
    display: flex;
    background: #FFF;
    justify-content: space-between;
    margin-top: 100px;
    padding: 100px;
}
.blog-content{}

.comming-soon{
    display: flex;
    margin-top: 50px;
}
.comming-soon{
    color: #070211;

font-family: Merriweather;
font-size: 3rem;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.new-best{
color: #F00;
text-align: left;
font-size: 1.5rem;
font-weight: 800;
}
.comming-soon{}
.image{
    border: 20px solid red;
    border-radius: 100%;
}

.happy-new-year1{
    margin-top: 50px;
    margin-left: 100px;
}
.h2024{
color: #F00;
font-size: 3rem;
font-weight: 700;
}

/* holiday section start */
.HOLIDAY{
/* width: 100rem; */
/* height: 458.4375rem; */
background: #FFF;
text-align: center;
}
.HOLIDAY .w-i-function{
color: #070211;
font-size: 1.5rem;
font-weight: 500;
}
.holliday-sale{
color: #070211;
font-size: 4.5rem;
font-weight: 900;
}
.holiday{
    color: #F00;
}


/* discount continner start */
.discont50container{
    /* position: relative; */
}
.img1{
    /* position: absolute; */
    /* bottom: 10px; */
    margin-top: 50px;
    
    
    
}

.img-footer{
    width: 100%;
}

.img1{

}


/* portfolio section */
.portfolio{
background: #FFF;
margin-top: 100px;
}
.portfolio-heading{
color: #F00;
font-size: 1.5rem;
font-weight: 500;
}
.portfolio-title{
color: #070211;
font-size: 3rem;
font-weight: 900;
margin: 20px 0;
}

.portfolio-item{
   
    align-items: center;
    border: 5px solid #fff;
    margin-top: 50px;

}

.portfolio-first-row{display: flex;}
.portfolio-2nd-row{display: flex;}
.portfolio-item-product{
    margin: 45px;
    width: 26.5rem;
height: 28.125rem;
flex-shrink: 0;

}

/* subscribe section */
.subscribe{
margin-top: 100px;
text-align: center;
background: rgba(255, 0, 0, 0.05);
padding: 12rem 20rem;

}
.subscribe-img{margin-top: 20px;}
.subscribe-title{

 color: #070211;
 font-size: 3rem;
 font-weight: 900;
}
#subscribe-option{
    border-radius: 3.125rem;
    background: #FFF;
   margin-top: 20px;
   padding: 29px 50px;

}
.subscribe-btn{
border-radius: 0rem 3.125rem 3.125rem 0rem;
background: #F00;
width: 13.125rem;
height: 4.5rem;
color: #FFF;
font-size: 15px;
}

/* footer section */
footer{
    width: 100rem;
height: auto;
background: black;
margin-top: 100px;
}

.footer-section-one{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.left-side{
    padding:150px 200px;
}

.left-side-content{
    color: #FFF;
font-size: 2.5rem;
font-weight: 500;
word-spacing: 5px;
line-height: 70px;

}
.right-side{
    margin: 150px 100px 0 0;
}
.right-site-number{
    display: flex;
    color: #FFF;
font-size: 2.5rem;
font-weight: 500;
line-height: 2.5rem;

}
.right-call-img{
    width: 2.5rem;
    height: 2.5rem;
}
.right-site-website{
    display: flex;
    color: #FFF;

font-family: Inter;
font-size: 2.5rem;
font-weight: 500;
margin-top: 20px;
}
.right-web-img{
    width: 2.5rem;
height: 3rem;
margin-top: 15px;
}

.hr{
    background: rgba(255, 255, 255, 0.15);
 
}

.footer-section-two{
    text-align: center;
    padding: 50px;
}
.footer-section-two>img{
    margin: 20px;
}

.footer-section-three{
    display: flex;
    height: 400px;
    justify-content: space-between;
}
.footer-section-three-left{}
.footer-section-three-right{}
h6{
    color: #FFF;
font-family: Inter;
font-size: 2rem;
font-style: normal;
font-weight: 500;
line-height: normal;
padding: 100px;
}